<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azurtv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.azurtv.ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.azurtv.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.azurtv.ui.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.azurtv.ui.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.azurtv.ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.azurtv.ui.PodcastActivity"
            android:configChanges="keyboard|screenSize|orientation"
            android:label="@string/title_activity_podcast" >
        </activity>
        <activity android:name="com.azurtv.ui.DetailNewsActivity" >
        </activity>
        <activity
            android:name="com.azurtv.ui.DetailProgActivity"
            android:label="@string/title_activity_detail_prog" >
        </activity>
        <activity
            android:name="com.azurtv.ui.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
    </application>

</manifest>
